$color__pumpkin :#EF7F1A;
$color__dodgerBlue :#1A8AEF;
$color__darkGray :#ACACAC;
$color__lightGray :#dddddd;
$color__deepPink :#EF1A7F;
$color__white :#ffffff;
$color__black :#000000;
$color__dark :#262626;
$color__lightPumpkin :#FEF8F4;
$color__lightPumpkin1 :#FADCC9;
$color__lightPumpkin2 :#FCEADF;