

$basefont: 'Raleway', sans-serif;
$secondfont: 'Roboto', sans-serif;;
$body-font-sizes: (
  null : (14px,1.5),
  md   : (14px,1.5),
  lg   : (14px,1.5),
  xl   : (14px,1.5),
  xxl  : (14px,1.5),
  xxxl : (14px,1.5)
);



$h1-sizes: (
  null :(36px,1.2),
  sm  : (46px,1.2),
  md  : (56px,1.2),
  lg  : (66px,1.2),
  xl  : (76px,1.2),
  xxl  : (76px,1.2)
);

$h2-sizes: (
  null :(30px,1.1),
  sm  : (32px,1.1),
  md  : (36px,1.1),
  lg  : (40px,1.1),
  xl  : (44px,1.2),
  xxl  : (44px,1.2)
);

$h3-sizes: (
  null :(18px,1.2),
  sm  : (20px,1.2),
  md  : (23px,1.2),
  lg  : (26px,1.2),
  xl  : (32px,1.2),
  xxl  : (32px,1.2),
  xxxl  : (44px,1.2)
);

$h4-sizes: (
  null :(24px,1.2),
  sm  : (24px,1.6),
  md  : (28px,1.2),
  lg  : (28px,1.2),
  xl  : (32px,1.2),
  xxl : (32px,1.2),
  xxxl : (32px,1.2)
);

$h5-sizes: (
  null :(16px,1.6),
  sm  : (16px,1.6),
  md  : (20px,1.7),
  lg  : (20px,1.7),
  xl  : (24px,1.7),
  xxl  : (24px,1.7),
  xxxl  : (24px,1.7)
);

$h6-sizes: (
  null :(14px,1.2),
  md  : (15px,1.2),
  lg  : (15px,1.2),
  xl  : (16px,1.3),
  xxl : (16px,1.3),
  xxxl : (20px,1.3)
);

$intro1Text-sizes: (
  null :(30px,1.2),
  sm  : (30px,1.2),
  md  : (38px,1.2),
  lg  : (39px,1.2),
  xl  : (40px,1.2),
  xxl  : (40px,1.2),
  xxxl  : (40px,1.2)
);
$intro2Text-sizes: (
  null :(30px,1.2),
  sm  : (32px,1.2),
  md  : (45px,1.2),
  lg  : (55px,1.2),
  xl  : (65px,1.2),
  xxl  : (65px,1.2),
  xxxl  : (65px,1.2)
);
$secMain-headingText-sizes: (
  null :(34px,1.2),
  sm  : (34px,1.2),
  md  : (40px,1.2),
  lg  : (45px,1.2),
  xl  : (50px,1.2),
  xxl  : (50px,1.2),
  xxxl  : (50px,1.2)
);

$secMain-headingText-sizes: (
  null :(30px,1.2),
  sm  : (32px,1.2),
  md  : (40px,1.2),
  lg  : (45px,1.2),
  xl  : (50px,1.2),
  xxl  : (50px,1.2),
  xxxl  : (50px,1.2)
);

$banner-headingText-sizes: (
  null :(45px,1.2),
  sm  : (50px,1.2),
  md  : (50px,1.2),
  lg  : (60px,1.2),
  xl  : (65px,1.2),
  xxl  : (65px,1.2),
  xxxl  : (65px,1.2)
);






